<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />-->
    <link rel="stylesheet" href="style.css">
    <title>Password Generator</title>
</head>
<style>
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid #000;
        width: 80%;
        height: 60%;
    }

    .con {
        display: flex;
        flex-direction: column;
        justify-content: left;
        border: 1px solid #000;
    }
</style>

<body>
    <h1> My prject</h1>
    <a href="{% url 'upload_file' %}">To upload SCV file</a>
    <div class="card">
        <div class="card-body">
            <div class="recipe">
                <a href="media\{{csv.doc}}">{{csv.doc}}</a>
            </div>
            <div class="total">
                <ul>
                    {% for l in lines %}
                    <li>{{l}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="method">

            </div>
            <p id="price"></p>
            <p id="perpice"></p>
        </div>
    </div>
    <div class="con">
        {{title}}
        <ul id="con">
            {% for i in ing %}
            <li>{{i}}</li>
            {% endfor %}
        </ul>

    </div>
    {{method}}
    <script src="script.js"></script>
</body>
<script>
    const priceElement = document.getElementById('price')
    const portionElement = document.getElementById('perpice')
    const URL_DATA = ('/api_data_cost')
    getData(URL_DATA)
    const recipeEl = document.getElementById('con').children
    //console.log(recipeEl)
    var arrStr = new Set()
    var arrStr1 = []
    var recConatiner = []
    var ingr_cost = new Set()
    var ingr_cost1 = new Set()
    var totalCost = new Set()
    let q = []

    for (let i = 0; i < recipeEl.length; i++) {
        var LineText = recipeEl[i].innerHTML
        var t = LineText.split(' ')
        arrStr.add(t)

        recConatiner.push(LineText)


    }
    arrStr.forEach(item => {
        arrStr1.push(Number(item[0]))
    })

    //console.log(t[0])
    let Lower = new Set()
    async function getData(url) {
        const res = await fetch(url)
        const data = await res.json()
        //console.log(data)
        arrStr.forEach((e, idx) => {
            //console.log(e)
            data.forEach(d => {
                //console.log(d)

                var new_d = d.Name.split(' ')
                //console.log(new_d)
                var newName = e[2] + ' ' + e[3]
                var newName1 = e[2]
                var newPro = new_d[0] + ' ' + new_d[2]

                //console.log(e[2] + ' ' + e[3])
                if (d.Name.toLowerCase().includes(newName.toLowerCase()) || d.Name.toLowerCase().includes(newName1.toLowerCase())) {

                    Lower.add(d)
                    //console.log(d.Unit * 1000, '-', d.Name)
                    ingr_cost.add(d)
                    Lower.forEach(item => {
                        //console.log(item)

                        if (item.Name.toLowerCase().includes(d.Name.toLowerCase()) && item.Price != d.Price) {
                            Lower.delete(item)

                        }
                    })
                    ingr_cost.forEach(item => {
                        if (item.Name == 'Caster Sugar' && item.Unit != 25.000) {
                            ingr_cost.delete(item)
                        }
                    })

                    // need to get the right amount 
                    // create the math function
                    // calculate the cost per recipe
                }



            })

            console.log(Lower)

            //console.log(e, '-', idx)
            //console.log(ingr_cost)
            console.log(arrStr1)

        })
        let counter = 0
        ingr_cost.forEach(ing => {

            counter++

            //console.log(ing)


            arrStr.forEach((e, idx) => {

                //console.log(idx)

                var c = ing.Unit * 1000
                var a = ing.Price / c
                ingr_cost1.add(a)
                var b = (e[0]) * a
                arrStr1.push(e[0])
                totalCost.add(e[0], '-', a)



            })



        })

        //console.log(ingr_cost1)
        //console.log(arrStr1)
        let idx = 0
        let count = 0
        totalCost1 = 0
        ingr_cost1.forEach(price => {

            count++
            arrStr1.forEach(item => {

                idx++
                if (idx > count) {
                    return
                }
                let b = item * price
                let t = totalCost1 + b
                q.push(t)

            })

        })
        //console.log(q.reduce((a, b) => a + b))
        priceElement.innerHTML = `£  ${q.reduce((a, b) => a + b)} per recipe`
        portionElement.innerHTML = `£  ${q.reduce((a, b) => a + b) / 10}  per portion`
    }



    console.log(q)
    let temp = 0
    let total = 0
    totalCost.forEach(p => {
        totol = p + temp
        //console.log(p)
    })


    //console.log(totalCost)
    TotalCalc(ingr_cost, arrStr)
    async function TotalCalc(arr1, arr2) {

    }


    var recNew = new Set()
    recConatiner.forEach((line, idx) => {
        var newLines = line.split(/\s+/)
        //console.log(newLines, '-', idx)
        recNew.add(newLines, idx)
    })


    //console.log(arrStr1)
    //console.log(ingr_cost1.length)


</script>

</html>